In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
infection = "Resources/infections_cleaned.csv"
death = "Resources/deaths_cleaned.csv"
cia = "Resources/cia.csv"
infectiond = pd.read_csv(infection)
deathd = pd.read_csv(death)
ciad = pd.read_csv(cia)
infectiondf = pd.DataFrame(infectiond)
deathdf = pd.DataFrame(deathd)
ciadf = pd.DataFrame(ciad)

In [7]:
ciadf.head()

,country,current_health_expenditure_2019,physician,beds,geography_area_total_sq_km,real_GDP_per _capita_3year_average_2020_2018,GDP_official_exchange_rate_Billion,Population,Real_GDP_purchasing_power_parity_3year_ave
0,Austria,10.4,5.29,7.3,"83,871","54,333",$445,"8,913,088",$483
1,Greece,7.8,6.31,4.2,"131,957","28,733",$210,"10,533,871",$308
2,India,3.0,0.74,0.5,"3,287,263","6,433","$2,836","1,389,637,446","$8,812"
3,Indonesia,2.9,0.62,1.0,"1,904,569","11,533","$1,120","277,329,163","$3,175"
4,Iran,6.7,1.58,1.6,"1,648,195","12,767",$581,"86,758,304","$1,033"